// components
@use './components/welcomeModal';
@use './components/header';
@use './components/countrySelector';
@use './components/selectorModal';
@use './components/favorites';
@use './components/favoritesItem';
@use './components/cart';
@use './components/cartItem';
@use './components/navbar';
@use './components/photos';
@use './components/image';
@use './components/footer';

// abstracts
@use './abstracts/variables' as *;

.not-found {
  text-align: center;
  min-height: 100vh;
  margin-top: 2rem;

  a {
    color: #0000ee;
    text-decoration: underline;
  }
}

.app {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: $font-size-main;
}

h1 {
  font-size: $font-size-heading;
}

a {
  color: #000;
  text-decoration: none;
}

.ri-phone-camera-fill {
  vertical-align: middle;
  margin-right: 0.4rem;
}

.hidden {
  visibility: hidden;
}

.alert {
  position: absolute;
  top: 13rem;
  left: 2rem;
  margin: 0;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 3rem;
  min-height: calc(100vh - 300px);

  h1 {
    text-align: center;
  }

  div {
    margin-top: 2rem;
    width: 95%;
    max-width: 800px;
  }
}
