//colors
$gray-dark: #767676;
$gray-light: #9E9E9E;
$gray-lighter: #CCCCCC;
$gray-lightest: #E8E8E8;

$red-primary: #EA453C;
$blue-primary: #ACE6EC;

//font-family
$font-logo: 'Oswald', sans-serif;
$font-main: 'PT Sans', sans-serif;
$font-heading: 'Lato', sans-serif;

//font-size
$font-size-logo: 1rem;
$font-size-navbar: 1rem;
$font-size-main: 0.9rem;
$font-size-heading: 1.1rem;