@use '../abstracts/variables' as *;

.cart-item td {
  padding: 20px 0;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
}

.cart-item--img {
  width: 30%;

  img {
    object-fit: cover;
  }
}

.cart-item--td {
  width: 17.5%;
}

.cart-item input[type='number'] {
  width: 45%;
  background-color: #fff;
  border: 1px solid $gray-lighter;
  outline: none;
  padding-left: 5px;
}

.cart-item input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
}

.cart-item .drop-down {
  width: 50%;
  padding-left: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid $gray-lighter;
  font-family: inherit;
}

.low-contrast {
  color: $gray-light;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  cursor: pointer;
}
